.husky/
.node-flywaydb/
charts/**
coverage/
docs/
hedera-mirror-datagenerator/**
hedera-mirror-grpc/**
hedera-mirror-importer/**
hedera-mirror-monitor/**
hedera-mirror-protobuf/**
hedera-mirror-rosetta/**
hedera-mirror-test/**
node_modules/
node/
*.md
*.yml
*.yaml
