{{- if .Values.ingress.enabled -}}
{{- $fullName := include "hedera-mirror-grpc.fullname" $ -}}
{{- $hostname := .Values.global.hostname -}}
{{- $servicePort := .Values.service.port -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  {{- if .Values.ingress.annotations }}
  annotations:
    {{- range $key, $value := .Values.ingress.annotations }}
    {{ $key }}: {{ tpl $value $ | quote }}
    {{- end }}
  {{- end }}
  labels: {{ include "hedera-mirror-grpc.labels" . | nindent 4 }}
  name: {{ $fullName }}
  namespace: {{ include "hedera-mirror-grpc.namespace" . }}
spec:
  rules:
  {{- range .Values.ingress.hosts }}
    - host: {{ $hostname | default .host | quote }}
      http:
        paths:
        {{- range .paths }}
          - path: {{ . }}
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: {{ $servicePort }}
        {{- end }}
  {{- end }}
  {{- if .Values.ingress.tls.enabled }}
  tls:
    - hosts:
      {{- range .Values.ingress.hosts }}
        - {{ .host | quote }}
      {{- end }}
      secretName: {{ .Values.ingress.tls.secretName }}
  {{- end }}
{{- end }}
