OLD_DB_HOST=127.0.0.1
OLD_DB_NAME=mirror_node
OLD_DB_PORT=5432
OLD_DB_USER=mirror_node
OLD_DB_PASSWORD=mirror_node_pass
NEW_DB_HOST=127.0.0.1
NEW_DB_NAME=mirror_node
NEW_DB_PORT=5432
NEW_DB_USER=mirror_node
NEW_DB_PASSWORD=mirror_node_pass
FLYWAY_URL=https://repo1.maven.org/maven2/org/flywaydb/flyway-commandline/9.8.1/flyway-commandline-9.8.1-macosx-x64.tar.gz
EXCLUDED_TABLES=(transaction_hash)
