# Tables to migrate asynchronously. These tables will run last and must contain an indexed consensus_timestamp column
ASYNC_TABLES=("'crypto_transfer'","'transaction'")

# Number of copy jobs to create for each table
ASYNC_TABLE_SPLITS=1000

# Number of tables allowed to be copied concurrently
CONCURRENCY=5

#Number of copy jobs allowed to run concurrently for each table. Only applies to ASYNC_TABLES
CONCURRENT_COPIES_PER_TABLE=5

# Tables to exclude from migration by this script
EXCLUDED_TABLES=("'entity_state_start'","'entity_transaction'","'flyway_schema_history'","'transaction_hash'")

# Download url for flyway
FLYWAY_URL=https://repo1.maven.org/maven2/org/flywaydb/flyway-commandline/9.22.3/flyway-commandline-9.22.3-linux-x64.tar.gz

# Maxmium timestamp to copy. If not set, will attempt to load ./migration.env and will fall back to 'select max(consensus_end) from record_file'
MAX_TIMESTAMP=
SOURCE_DB_HOST=
SOURCE_DB_NAME=
SOURCE_DB_PORT=
SOURCE_DB_USER=
SOURCE_DB_PASSWORD=
TARGET_DB_HOST=
TARGET_DB_NAME=
TARGET_DB_PORT=
TARGET_DB_USER=
TARGET_DB_PASSWORD=
