ASYNC_TABLES=("'crypto_transfer'","'transaction'")
ASYNC_TABLE_SPLITS=
CONCURRENCY=
CONCURRENT_COPIES_PER_TABLE=
CREATE_IDEXES_BEFORE_MIGRATION=
EXCLUDED_TABLES=("'entity_state_start'","'entity_transaction'","'flyway_schema_history'","'transaction_hash'")
FLYWAY_URL=https://repo1.maven.org/maven2/org/flywaydb/flyway-commandline/9.22.3/flyway-commandline-9.22.3-linux-x64.tar.gz
MAX_TIMESTAMP=
SOURCE_DB_HOST=
SOURCE_DB_NAME=
SOURCE_DB_PORT=
SOURCE_DB_USER=
SOURCE_DB_PASSWORD=
TARGET_DB_HOST=
TARGET_DB_NAME=
TARGET_DB_PORT=
TARGET_DB_USER=
TARGET_DB_PASSWORD=
