# Compiled class file
*.class

# OS specific
.DS_Store

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.tgz
*.rar

# Node.js
.env
.node-version
env.txt
junit.xml
node_modules/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/
.project

# Application specific
hedera-mirror-importer/data/
application*.yaml
application*.yml
Chart.lock
/data/
/db/
*.log

### VisualStudioCode ###
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

### Eclipse Patch ###
# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

.sts4-cache/

# End of https://www.gitignore.io/api/eclipse
.idea/
*.iml

# check-state-proof output dir
hedera-mirror-rest/check-state-proof/output

# generated spec based integration test modules
hedera-mirror-rest/__tests__/integration/*.test.js

# Rosetta
rosetta-cli
coverage.txt

# Auto-generated release notes
release_notes.md

# Ignore reports generated by k6 tests
*report.md

# Acceptance tests / Solidity artifacts
hedera-mirror-test/src/test/resources/solidity/artifacts/build-info
hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/*/*.dbg.json
hedera-mirror-test/src/test/resources/solidity/cache
hedera-mirror-test/src/test/resources/solidity/package-lock.json

# Gradle
.gradle
build
!gradle/wrapper/gradle-wrapper.jar

# Security
.dccache
snyk
**/secret.*

hedera-mirror-rest/report.html*
