version: "3.3"
services:
  db:
    image: postgres:9.6-alpine
    restart: unless-stopped
    stop_grace_period: 2m
    stop_signal: SIGTERM
    tty: true
    environment:
      POSTGRES_DB: mirror_node
      POSTGRES_PASSWORD: mirror_node_pass
      POSTGRES_USER: mirror_node
    volumes:
      - ./db:/var/lib/postgresql/data
      - ./hedera-mirror-importer/src/main/resources/db/scripts/init_v1.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - 5432:5432

  grpc:
    image: gcr.io/mirrornode/hedera-mirror-grpc:0.35.0-SNAPSHOT
    restart: unless-stopped
    environment:
      HEDERA_MIRROR_GRPC_DB_HOST: db
      SPRING_CONFIG_ADDITIONAL_LOCATION: file:/usr/etc/hedera-mirror-grpc/
      SPRING_REDIS_HOST: redis
    volumes:
      - ./application.yml:/usr/etc/hedera-mirror-grpc/application.yml
    ports:
      - 5600:5600

  importer:
    image: gcr.io/mirrornode/hedera-mirror-importer:0.35.0-SNAPSHOT
    restart: unless-stopped
    environment:
      HEDERA_MIRROR_IMPORTER_DB_HOST: db
      SPRING_CONFIG_ADDITIONAL_LOCATION: file:/usr/etc/hedera-mirror-importer/
      SPRING_REDIS_HOST: redis
    volumes:
      - ./application.yml:/usr/etc/hedera-mirror-importer/application.yml

  monitor:
    deploy:
      replicas: 0
    image: gcr.io/mirrornode/hedera-mirror-monitor:0.35.0-SNAPSHOT
    restart: unless-stopped
    environment:
      SPRING_CONFIG_ADDITIONAL_LOCATION: file:/usr/etc/hedera-mirror-monitor/
    volumes:
      - ./application.yml:/usr/etc/hedera-mirror-monitor/application.yml

  redis:
    image: redis:5.0.9-alpine
    restart: unless-stopped
    stop_grace_period: 2m
    stop_signal: SIGTERM
    tty: true
    ports:
      - 6379:6379

  rest:
    image: gcr.io/mirrornode/hedera-mirror-rest:0.35.0-SNAPSHOT
    environment:
      HEDERA_MIRROR_REST_DB_HOST: db
    restart: unless-stopped
    tty: true
    ports:
      - 5551:5551

  rosetta:
    image: gcr.io/mirrornode/hedera-mirror-rosetta:0.35.0-SNAPSHOT
    environment:
      HEDERA_MIRROR_ROSETTA_DB_HOST: db
    restart: unless-stopped
    tty: true
    volumes:
      - ./application.yml:/src/hedera-mirror-rosetta/application.yml
    ports:
      - 5700:5700
    depends_on:
      - "db"

  timescaledb:
    deploy:
      replicas: 0
    image: timescale/timescaledb-ha:pg13-ts2.2-latest
    restart: unless-stopped
    stop_grace_period: 2m
    stop_signal: SIGTERM
    tty: true
    environment:
      PGDATA: /var/lib/postgresql/data
      POSTGRES_HOST_AUTH_METHOD: scram-sha-256
      POSTGRES_INITDB_ARGS: --auth-host=scram-sha-256
      POSTGRES_PASSWORD: mirror_node_pass
    volumes:
      - ./timescaledb:/var/lib/postgresql/data
      - ./hedera-mirror-importer/src/main/resources/db/scripts/init_v2.sql:/docker-entrypoint-initdb.d/init_v2.sql
    ports:
      - 5432:5432
