version: "3.3"
services:
  db:
    image: postgres:9.6-alpine
    restart: unless-stopped
    stop_grace_period: 2m
    stop_signal: SIGTERM
    tty: true
    environment:
      POSTGRES_DB: mirror_node
      POSTGRES_PASSWORD: mirror_node_pass
      POSTGRES_USER: mirror_node
    volumes:
      - ./db:/var/lib/postgresql/data
      - ./hedera-mirror-grpc/scripts/db/:/docker-entrypoint-initdb.d/
    ports:
      - 5432:5432

  grpc:
    image: gcr.io/mirrornode/hedera-mirror-grpc:0.17.0-rc1
    restart: unless-stopped
    environment:
      HEDERA_MIRROR_GRPC_DB_HOST: db
      SPRING_CONFIG_ADDITIONAL_LOCATION: file:/usr/etc/hedera-mirror-grpc/
    volumes:
      - ./application.yml:/usr/etc/hedera-mirror-grpc/application.yml
    ports:
      - 5600:5600

  importer:
    image: gcr.io/mirrornode/hedera-mirror-importer:0.17.0-rc1
    restart: unless-stopped
    environment:
      HEDERA_MIRROR_IMPORTER_DATAPATH: /var/lib/hedera-mirror-importer
      HEDERA_MIRROR_IMPORTER_DB_HOST: db
      SPRING_CONFIG_ADDITIONAL_LOCATION: file:/usr/etc/hedera-mirror-importer/
    volumes:
      - ./data:/var/lib/hedera-mirror-importer
      - ./application.yml:/usr/etc/hedera-mirror-importer/application.yml

  rest:
    image: gcr.io/mirrornode/hedera-mirror-rest:0.17.0-rc1
    environment:
      HEDERA_MIRROR_REST_DB_HOST: db
    restart: unless-stopped
    tty: true
    ports:
      - 5551:5551

  rosetta:
    build:
      context: ./hedera-mirror-rosetta
      dockerfile: ./Dockerfile
    environment:
      HEDERA_MIRROR_ROSETTA_DB_HOST: db
    restart: unless-stopped
    tty: true
    volumes:
      - ./application.yml:/src/hedera-mirror-rosetta/application.yml
    ports:
      - 5700:5700
    depends_on:
      - "db"
