version: "3.3"
services:
  db:
    image: postgres:9.6-alpine
    restart: unless-stopped
    stop_grace_period: 2m
    stop_signal: SIGTERM
    tty: true
    environment:
      POSTGRES_DB: mirror_node
      POSTGRES_PASSWORD: mirror_node_pass
      POSTGRES_USER: mirror_node
    volumes:
      - ./db:/var/lib/postgresql/data
    ports:
      - 5432:5432

  grpc:
    image: docker.pkg.github.com/hashgraph/hedera-mirror-node/hedera-mirror-grpc-hcs
    restart: unless-stopped
    environment:
      HEDERA_MIRROR_GRPC_DB_HOST: db
      HEDERA_MIRROR_GRPC_DB_PASSWORD: mirror_node_pass
      HEDERA_MIRROR_GRPC_DB_USERNAME: mirror_node
      SPRING_CONFIG_ADDITIONAL_LOCATION: file:/usr/etc/hedera-mirror-grpc/
    volumes:
      - ./hedera-mirror-grpc/scripts/init-pg-users.sh:/docker-entrypoint-initdb.d/10-init-pg-users.sh
      #- ./application.yml:/usr/etc/hedera-mirror-grpc/application.yml
    ports:
      - 5600:5600

  importer:
    image: docker.pkg.github.com/hashgraph/hedera-mirror-node/hedera-mirror-importer-hcs
    restart: unless-stopped
    environment:
      HEDERA_MIRROR_DATAPATH: /var/lib/hedera-mirror-importer
      HEDERA_MIRROR_DB_HOST: db
      SPRING_CONFIG_ADDITIONAL_LOCATION: file:/usr/etc/hedera-mirror-importer/
    volumes:
      - ./data:/var/lib/hedera-mirror-importer
      #- ./application.yml:/usr/etc/hedera-mirror-importer/application.yml

  rest:
    image: docker.pkg.github.com/hashgraph/hedera-mirror-node/hedera-mirror-rest-hcs
    environment:
      HEDERA_MIRROR_DB_HOST: db
    restart: unless-stopped
    tty: true
    ports:
      - 5551:5551
