version: "3.7"
services:
  citus:
    image: mirrornodeswirldslabs/citus:11.2.0-alpine
    deploy:
      replicas: 0
    environment:
      PGDATA: /var/lib/postgresql/data
      # These should all be changed from the default before running in production
      GRAPHQL_PASSWORD: mirror_graphql_pass
      GRPC_PASSWORD: mirror_grpc_pass
      IMPORTER_PASSWORD: mirror_importer_pass
      OWNER_PASSWORD: mirror_node_pass
      POSTGRES_PASSWORD: postgres_password
      REST_PASSWORD: mirror_api_pass
      ROSETTA_PASSWORD: mirror_rosetta_pass
      SCHEMA_V2: "true"
    ports:
      - 5432:5432
    restart: unless-stopped
    stop_grace_period: 2m
    stop_signal: SIGTERM
    tty: true
    volumes:
      - ./db:/var/lib/postgresql/data
      - ./hedera-mirror-importer/src/main/resources/db/scripts/init.sh:/docker-entrypoint-initdb.d/init.sh
  db:
    image: postgres:14-alpine
    environment:
      PGDATA: /var/lib/postgresql/data
      POSTGRES_HOST_AUTH_METHOD: scram-sha-256
      POSTGRES_INITDB_ARGS: --auth-host=scram-sha-256
      # These should all be changed from the default before running in production
      GRPC_PASSWORD: mirror_grpc_pass
      IMPORTER_PASSWORD: mirror_importer_pass
      OWNER_PASSWORD: mirror_node_pass
      POSTGRES_PASSWORD: postgres_password
      REST_PASSWORD: mirror_api_pass
      ROSETTA_PASSWORD: mirror_rosetta_pass
    ports:
      - 5432:5432
    restart: unless-stopped
    stop_grace_period: 2m
    stop_signal: SIGTERM
    tty: true
    volumes:
      - ./db:/var/lib/postgresql/data
      - ./hedera-mirror-importer/src/main/resources/db/scripts/init.sh:/docker-entrypoint-initdb.d/init.sh

  graphql:
    image: gcr.io/mirrornode/hedera-mirror-graphql:0.82.0-SNAPSHOT
    pull_policy: always
    environment:
      HEDERA_MIRROR_GRAPHQL_DB_HOST: db
      SPRING_CONFIG_ADDITIONAL_LOCATION: file:/usr/etc/hedera-mirror-graphql/
    ports:
      - 8083:8083
    restart: unless-stopped
    tty: true
    volumes:
      - ./application.yml:/usr/etc/hedera-mirror-graphql/application.yml

  grpc:
    image: gcr.io/mirrornode/hedera-mirror-grpc:0.82.0-SNAPSHOT
    pull_policy: always
    restart: unless-stopped
    environment:
      HEDERA_MIRROR_GRPC_DB_HOST: db
      SPRING_CONFIG_ADDITIONAL_LOCATION: file:/usr/etc/hedera-mirror-grpc/
      SPRING_REDIS_HOST: redis
    ports:
      - 5600:5600
    volumes:
      - ./application.yml:/usr/etc/hedera-mirror-grpc/application.yml

  importer:
    image: gcr.io/mirrornode/hedera-mirror-importer:0.82.0-SNAPSHOT
    pull_policy: always
    restart: unless-stopped
    environment:
      HEDERA_MIRROR_IMPORTER_DB_HOST: db
      SPRING_CONFIG_ADDITIONAL_LOCATION: file:/usr/etc/hedera-mirror-importer/
      SPRING_REDIS_HOST: redis
    volumes:
      - ./application.yml:/usr/etc/hedera-mirror-importer/application.yml

  monitor:
    deploy:
      replicas: 0
    image: gcr.io/mirrornode/hedera-mirror-monitor:0.82.0-SNAPSHOT
    pull_policy: always
    restart: unless-stopped
    environment:
      SPRING_CONFIG_ADDITIONAL_LOCATION: file:/usr/etc/hedera-mirror-monitor/
    volumes:
      - ./application.yml:/usr/etc/hedera-mirror-monitor/application.yml

  redis:
    image: redis:6-alpine
    ports:
      - 6379:6379
    restart: unless-stopped
    stop_grace_period: 2m
    stop_signal: SIGTERM
    tty: true

  rest:
    image: gcr.io/mirrornode/hedera-mirror-rest:0.82.0-SNAPSHOT
    pull_policy: always
    environment:
      HEDERA_MIRROR_REST_DB_HOST: db
    ports:
      - 5551:5551
    restart: unless-stopped
    tty: true

  rosetta:
    image: gcr.io/mirrornode/hedera-mirror-rosetta:0.82.0-SNAPSHOT
    pull_policy: always
    environment:
      HEDERA_MIRROR_ROSETTA_DB_HOST: db
    ports:
      - 5700:5700
    restart: unless-stopped
    tty: true
    volumes:
      - ./application.yml:/src/hedera-mirror-rosetta/application.yml

  web3:
    image: gcr.io/mirrornode/hedera-mirror-web3:0.82.0-SNAPSHOT
    pull_policy: always
    environment:
      HEDERA_MIRROR_WEB3_DB_HOST: db
      SPRING_CONFIG_ADDITIONAL_LOCATION: file:/usr/etc/hedera-mirror-web3/
    ports:
      - 8545:8545
    restart: unless-stopped
    tty: true
    volumes:
      - ./application.yml:/usr/etc/hedera-mirror-web3/application.yml
