lombok.anyConstructor.addConstructorProperties = true
lombok.equalsAndHashCode.callSuper = call
lombok.toString.callSuper = call
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.log.custom.declaration = org.slf4j.Logger org.slf4j.LoggerFactory.getLogger(TYPE)
