form:
  - widget: help
    description: |
      Hedera Mirror Node retrieves transaction data from Google Cloud Stroage. The Mirror Node operator is
      responsible for the operational costs of reading and retrieving data from the Google Cloud bucket. See our
      <a href="https://docs.hedera.com/guides/mainnet/nodes/mirror-nodes#1-obtain-google-cloud-platform-requester-pay-information">documentation</a>
      for information on how to obtain a GCP account and use it to populate the importer access key, secret key and
      billing project ID.

x-google-marketplace:
  schemaVersion: v2
  applicationApiVersion: v1beta1
  partnerId: mirror-node-public
  solutionId: hedera-mirror-node

  # The release version, MUST match the release tag on the the deployer.
  publishedVersion: "$TAG"
  publishedVersionMetadata:
    releaseNote: >-
      v0.27 brings many new features to the mirror node marketplace application since v0.13.
      The largest of which is the support for the Hedera Token Service (HTS) which allows for the creation and management of custom tokens on the Hedera network.
      Tokens entity types are now ingested to the DB and can be queried through new REST APIs.
      Support for the new v5 record file and signature file formats was added to be able to parse additional detailed information made available by the network in HAPI v0.11.0.
      Additionally topic fragmentation support was added to the ingestion process as well as the exposure through the appropriate REST and gRPC APIs
      State Proof alpha REST API was added to enable Mirror node users who want to verify submitted transactions for themselves.
      <a href"https://swagger.io/specification">OpenAPI 3.0</a> specification support was added to the REST API long with a docs endpoint for upto date documentation and REST API curl support.
      Redis service was added to support at least 10,000 TPS ingestion while still remaining under 10 seconds from submitting the topic message and receiving it back via the mirror node's streaming API.
      DB and process memory optimizations were made to improve the ingestion rate with at least 2x-3x improvements.
      `startDate` and `endDate` properties were added to enable Mirror node users the ability to specify a time range for data processing.
      <a href"https://docs.aws.amazon.com/sdk-for-java/v1/developer-guide/credentials.html">AWS default credential provider chain</a> support was added to provide greater flexibility for mirror node operators.
      Many more features went into the release, for detailed release notes refer to <a href="https://github.com/hashgraph/hedera-mirror-node/releases">hedera-mirror-node releases</a>.
    # releaseTypes - Feature | BugFix | Security
    releaseTypes:
      - Feature
    # If "recommended" is "true", users using older releases are encouraged
    # to update as soon as possible. This is useful if, for example, this release
    # fixes a critical issue.
    recommended: true

  # images for subcharts. Primary image is importer
  images:
    '':
      properties:
        importer.image.repository:
          type: REPO_WITH_REGISTRY
        importer.image.tag:
          type: TAG
    grpc:
      properties:
        grpc.image.repository:
          type: REPO_WITH_REGISTRY
        grpc.image.tag:
          type: TAG
    rest:
      properties:
        rest.image.repository:
          type: REPO_WITH_REGISTRY
        rest.image.tag:
          type: TAG
    postgresql-repmgr:
      properties:
        postgresql.postgresqlImage.registry:
          type: REGISTRY
        postgresql.postgresqlImage.repository:
          type: REPO_WITHOUT_REGISTRY
        postgresql.postgresqlImage.tag:
          type: TAG
    test:
      properties:
        rest.test.image.repository:
          type: REPO_WITH_REGISTRY
        rest.test.image.tag:
          type: TAG

properties:
  name:
    type: string
    x-google-marketplace:
      type: NAME
  namespace:
    type: string
    x-google-marketplace:
      type: NAMESPACE
  global.redis.password:
    type: string
    description: The password used by the redis service to connect to the database
    title: Redis database password
    x-google-marketplace:
      type: GENERATED_PASSWORD
      generatedPassword:
        length: 24
        base64: False
  global.rest.password:
    type: string
    description: The password used by the REST API to connect to the database
    title: REST API database password
    x-google-marketplace:
      type: GENERATED_PASSWORD
      generatedPassword:
        length: 24
        base64: False
  grpc.config.hedera.mirror.grpc.db.password:
    type: string
    description: The password used by the gRPC API to connect to the database
    title: gRPC API database password
    x-google-marketplace:
      type: GENERATED_PASSWORD
      generatedPassword:
        length: 24
        base64: False
  grpc.replicas:
    type: integer
    default: 1
    description: The gRPC API replica count
    title: gRPC API replicas
    minimum: 0
    maximum: 10
  grpc.serviceAccount.name:
    type: string
    title: gRPC API service account
    x-google-marketplace:
      type: SERVICE_ACCOUNT
      serviceAccount:
        description: The Kubernetes service account to assign to the gRPC API
        roles:
          - type: Role
            rulesType: CUSTOM
            rules:
              - apiGroups: [ '' ]
                resources: [ 'configmaps' ]
                verbs: [ 'get', 'watch' ]
              - apiGroups: [ '' ]
                resources: [ 'pods' ]
                verbs: [ 'get' ]
  importer.config.hedera.mirror.importer.db.password:
    type: string
    description: The password used by the importer to connect to the database
    title: Importer database password
    x-google-marketplace:
      type: GENERATED_PASSWORD
      generatedPassword:
        length: 24
        base64: False
  importer.config.hedera.mirror.importer.downloader.accessKey:
    type: string
    description: The Google Cloud access key used to pay for downloaded streamed files
    title: Importer GCP access key
  importer.config.hedera.mirror.importer.downloader.bucketName:
    type: string
    description: The Google Cloud Storage bucket name to download streamed files. This value takes priority over network hardcoded bucket names regardless of `hedera.mirror.importer.network` value.
    title: Importer GCS bucket name
  importer.config.hedera.mirror.importer.downloader.cloudProvider:
    default: GCP
    type: string
    description: The cloud provider to download files from. Either S3 or GCP.
    title: Importer cloud provider
  importer.config.hedera.mirror.importer.downloader.gcpProjectId:
    type: string
    description: GCP project id to bill for requests to GCS bucket with requester pays enabled.
    title: Importer GCP billing project ID
  importer.config.hedera.mirror.importer.downloader.secretKey:
    type: string
    description: The Google Cloud secret key used to pay for downloaded streamed files
    title: Importer GCP secret key
  importer.config.hedera.mirror.importer.endDate:
    type: string
    description: The end date (inclusive) of the data to import. Items after this date will be ignored. Format - YYYY-MM-ddTHH:mm:ss.nnnnnnnnnZ
    title: Importer data end date
  importer.config.hedera.mirror.importer.initialAddressBook:
    type: string
    description: The path to the bootstrap address book used to override the built-in address book
    title: Importer bootstrap address book
  importer.config.hedera.mirror.importer.network:
    default: MAINNET
    type: string
    description: Which Hedera network to use. Can be either DEMO (free), TESTNET or MAINNET.
    title: Importer Hedera network
    enum:
      - MAINNET
      - TESTNET
      - PREVIEWNET
      - DEMO
      - OTHER
  importer.config.hedera.mirror.importer.startDate:
    type: string
    description: The start date (inclusive) of the data to import. Items before this date will be ignored. Format - YYYY-MM-ddTHH:mm:ss.nnnnnnnnnZ
    title: Importer data start date
  importer.config.hedera.mirror.importer.verifyHashAfter:
    type: string
    description: Skip hash verification for stream files linked by hash until after (and not including) this point of time. Format - YYYY-MM-ddTHH:mm:ss.nnnnnnnnnZ
    title: Importer data verify hash after date
  importer.config.spring.flyway.baselineVersion:
    default: '0'
    type: string
    description: The version to tag an existing schema with when executing baseline.
    title: Importer data migration baseline version
  importer.config.spring.flyway.locations:
    default: classpath:db/migration/v1
    type: string
    description: Comma-separated list of locations to scan recursively for migrations.
    title: Importer data migration scripts location
  importer.config.spring.flyway.target:
    default: '1.999.999'
    type: string
    description: Skip hash verification for stream files linked by hash until after (and not including) this point of time. Format - YYYY-MM-ddTHH:mm:ss.nnnnnnnnnZ
    title: Importer data migration target version
  importer.persistence.size:
    default: 10Gi
    description: The storage size for the importer persistent volume
    title: Importer storage size
    type: string
  importer.serviceAccount.name:
    type: string
    title: Importer service account
    x-google-marketplace:
      type: SERVICE_ACCOUNT
      serviceAccount:
        description: The Kubernetes service account to assign to the importer
        roles:
          - type: Role
            rulesType: CUSTOM
            rules:
              - apiGroups: [ '' ]
                resources: [ 'configmaps' ]
                verbs: [ 'get', 'list','watch', 'create', 'update' ]
              - apiGroups: [ '' ]
                resources: [ 'pods' ]
                verbs: [ 'get', 'watch' ]
  postgresql.persistence.size:
    default: 500Gi
    description: The storage size for the PostgreSQL persistent volume
    title: PostgreSQL storage size
    type: string
  postgresql.postgresql.password:
    type: string
    description: The password for the 'postgres' superuser
    title: PostgreSQL admin password
    x-google-marketplace:
      type: GENERATED_PASSWORD
      generatedPassword:
        length: 24
        base64: False
  postgresql.postgresql.repmgrPassword:
    type: string
    description: The password used by the PostgreSQL Replication Manager to connect to the database
    title: PostgreSQL Repmgr password
    x-google-marketplace:
      type: GENERATED_PASSWORD
      generatedPassword:
        length: 24
        base64: False
  rest.replicas:
    type: integer
    default: 1
    description: The REST API replica count
    title: REST API replicas
    minimum: 0
    maximum: 10

required:
  - name
  - namespace
  - grpc.replicas
  - grpc.serviceAccount.name
  - importer.config.hedera.mirror.importer.downloader.accessKey
  - importer.config.hedera.mirror.importer.downloader.secretKey
  - importer.config.hedera.mirror.importer.network
  - importer.persistence.size
  - importer.serviceAccount.name
  - postgresql.persistence.size
  - rest.replicas
