<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN"  monitorInterval="30">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%-5t] %c{1.} %m%n"/>
		</Console>
		<RollingFile name="file" fileName="${sys:logDir:-logs}/hedera-mirror-node.log" filePattern="${sys:logDir:-logs}/mirrorNode.log-%d{yyyy-MM-dd}-%i.log" >
			<PatternLayout pattern="%d %-5p [%-5t] %c{1.} %m%n"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="10"/>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="WARN">
			<AppenderRef ref="console"/>
			<AppenderRef ref="file"/>
		</Root>
		<Logger name="com.hedera" additivity="false" level="INFO">
			<AppenderRef ref="console"/>
			<AppenderRef ref="file"/>
		</Logger>
	</Loggers>
</Configuration>
