[Unit]
After=syslog.target
Description=Hedera Mirror Rosetta API

[Service]
Environment=HEDERA_MIRROR_ROSETTA_API_CONFIG=/usr/etc/hedera-mirror-rosetta/application.yml
ExecStart=/usr/bin/hedera-mirror-rosetta
LimitNOFILE=65536
Restart=on-failure
RestartSec=1
SuccessExitStatus=0
Type=simple

[Install]
WantedBy=multi-user.target
