with existing as (
  select $existingColumnsAs, t.*
  from $tempTable t
  left join $finalTable e on $idJoin
)
insert into $finalTable ($insertColumns)
select $coalesceColumns
from existing
where $notNullableColumn
on conflict ($conflictColumns)
do update set $updateColumns
