insert into $finalTable ($insertColumns)
select $coalesceColumns
from $tempTable t
left join $finalTable e on $idJoin
where $notNullableColumn is not null
on conflict ($conflictColumns)
do update set $updateColumns
