version: 2

defaults: &defaults
  docker:
    - image: adoptopenjdk:11-jdk-hotspot

references:
  workspace_root: &workspace_root
    /tmp/workspace
  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root
  package_mirror_node: &package_mirror_node
    run:
      name: Generating mirror-node.tgz
      working_directory: /tmp/workspace/
      command: |
        _tagged_dir=mirror-node-${CIRCLE_TAG:-b$CIRCLE_BUILD_NUM}
        mv mirror-node "${_tagged_dir}"
        tar -czf /tmp/workspace/mirror-node.tgz "${_tagged_dir}"

workflows:
  version: 2
  main:
    jobs:
      - build_mirror_node:
          filters: # required since `release_artifacts` has tag filters AND requires `this`
            branches:
              only: /.*/
            tags:
              only: /.*/
      - build_rest_api:
          filters: # required since `release_artifacts` has tag filters AND requires `this`
            branches:
              only: /.*/
            tags:
              only: /.*/
      - build: # required since `release_artifacts` has tag filters AND requires `this`
          requires:
            - build_mirror_node
            - build_rest_api
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/
      - release_artifacts:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

jobs:
  build_mirror_node:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - maven-v1-{{ .Branch }}-{{ checksum "pom.xml" }}
            - maven-v1-{{ .Branch }}
            - maven-v1-
      - run:
          name: Running maven (validate, compile, test, package)
          command: ./mvnw package
      - store_test_results:
          path: target/surefire-reports
      - store_artifacts:
          path: target/site/jacoco/index.html
      - save_cache:
          key: maven-v1-{{ .Branch }}-{{ checksum "pom.xml" }}
          paths:
          - ~/.m2
      - run:
          name: Upload Code Coverage to Coveralls
          command: ./mvnw coveralls:report -DrepoToken=$COVERALLS_REPO_TOKEN
      - run:
          name: Collecting mirror-node assets
          command: |
            mkdir -p /tmp/workspace/mirror-node/
            mv target/mirror-node-*.jar /tmp/workspace/mirror-node/mirror-node.jar
            mv config /tmp/workspace/mirror-node/
            mv scripts /tmp/workspace/mirror-node/
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - mirror-node

  build_rest_api:
    docker:
      - image: node:12.10.0
    steps:
      - checkout:
      - restore_cache:
          keys:
            - npm-v1-{{ .Branch }}-{{ checksum "rest-api/package-lock.json" }}
            - npm-v1-{{ .Branch }}
            - npm-v1-
      - run:
          working_directory: 'rest-api'
          name: Run npm ci (ensure node_modules is based on package-lock.json).
          command: npm ci
      - save_cache:
          key: npm-v1-{{ .Branch }}-{{ checksum "rest-api/package-lock.json" }}
          paths:
            - ~/.npm
      - run:
          working_directory: 'rest-api'
          name: Run npm test
          command: npm test
      - store_test_results:
          path: rest-api/target/jest-junit
      - run:
          working_directory: 'rest-api'
          name: Collecting rest-api assets
          command: |
            npm pack
            mkdir -p /tmp/workspace/
            mv rest-api*.tgz /tmp/workspace/rest-api.tgz
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - rest-api.tgz

  build:
    <<: *defaults
    steps:
      - run:
          name: Success
          command: echo "Build successful"

  release_artifacts:
    <<: *defaults
    steps:
      - *attach_workspace
      - *package_mirror_node
      - store_artifacts:
          path: /tmp/workspace/mirror-node.tgz
      - store_artifacts:
          path: /tmp/workspace/rest-api.tgz
