version: 2

references:
  workspace_root: &workspace_root /tmp/workspace
  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

workflows:
  version: 2
  main:
    jobs:
      #      - build_maven:
      #          filters: # required since `release_artifacts` has tag filters AND requires `this`
      #            branches:
      #              only: /.*/
      #            tags:
      #              only: /.*/
      #      - build_rest:
      #          filters: # required since `release_artifacts` has tag filters AND requires `this`
      #            branches:
      #              only: /.*/
      #            tags:
      #              only: /.*/
      #      - release_artifacts:
      #          requires:
      #            - build_maven
      #            - build_rest
      #          filters:
      #            branches:
      #              ignore: /.*/
      #            tags:
      #              only: /^v.*/
      - release_docker_images:
          #          requires:
          #            - build_maven
          #            - build_rest
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.\d*.\d*.\d*/ # Do not push docker images to Github for rc, alpha, beta, etc.

jobs:
  build_maven:
    environment:
      MAVEN_CLI_OPTS: --batch-mode --no-transfer-progress --show-version -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
    docker:
      - image: adoptopenjdk:11-jdk-hotspot
      - image: postgres:9.6-alpine
        environment:
          POSTGRES_DB: mirror_node_test
          POSTGRES_PASSWORD: mirror_node_pass
          POSTGRES_USER: mirror_node
    steps:
      - checkout
      - run:
          name: Calculate checksum of all pom.xml
          command: find . -type f -name "pom.xml" | sort -u | xargs sha512sum > pom.xml.checksum
      - restore_cache:
          keys:
            - maven-v2-{{ .Branch }}-{{ checksum "pom.xml.checksum" }}
            - maven-v2-{{ .Branch }}
            - maven-v2-
      - run:
          name: Resolve dependencies
          # See https://issues.apache.org/jira/browse/MDEP-516 for why we don't use maven-dependency-plugin
          command: ./mvnw ${MAVEN_CLI_OPTS} de.qaware.maven:go-offline-maven-plugin:resolve-dependencies
      - save_cache:
          key: maven-v2-{{ .Branch }}-{{ checksum "pom.xml.checksum" }}
          paths:
            - ~/.m2
      - run:
          name: Running maven (validate, compile, test, package)
          command: ./mvnw ${MAVEN_CLI_OPTS} package
      - store_test_results:
          path: hedera-mirror-importer/target/surefire-reports
      - run:
          name: Upload Code Coverage
          command: bash <(curl -s https://codecov.io/bash)
      - run:
          name: Collecting assets for hedera-mirror-grpc
          command: |
            set -ex
            VERSION_TAG=${CIRCLE_TAG/*\//}
            NAME=hedera-mirror-grpc-${VERSION_TAG:-b$CIRCLE_BUILD_NUM}
            WORKSPACE=/tmp/workspace
            mkdir -p ${WORKSPACE}/${NAME}
            mv hedera-mirror-grpc/target/hedera-mirror-grpc-*-exec.jar ${WORKSPACE}/${NAME}/${NAME}.jar
            mv hedera-mirror-grpc/scripts ${WORKSPACE}/${NAME}
            mkdir -p ${WORKSPACE}/artifacts
            tar -czf ${WORKSPACE}/artifacts/${NAME}.tgz -C ${WORKSPACE} ${NAME}
      - run:
          name: Collecting assets for hedera-mirror-importer
          command: |
            set -ex
            VERSION_TAG=${CIRCLE_TAG/*\//}
            NAME=hedera-mirror-importer-${VERSION_TAG:-b$CIRCLE_BUILD_NUM}
            WORKSPACE=/tmp/workspace
            mkdir -p ${WORKSPACE}/${NAME}
            mv hedera-mirror-importer/target/hedera-mirror-importer-*-exec.jar ${WORKSPACE}/${NAME}/${NAME}.jar
            mv hedera-mirror-importer/scripts ${WORKSPACE}/${NAME}
            mkdir -p ${WORKSPACE}/artifacts
            tar -czf ${WORKSPACE}/artifacts/${NAME}.tgz -C ${WORKSPACE} ${NAME}
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - artifacts

  build_rest:
    docker:
      - image: node:12.10.0
      - image: circleci/postgres:9.6.14
        environment:
          POSTGRES_DB: mirror_node_integration
          POSTGRES_USER: mirror_node
          POSTGRES_PASSWORD: mirror_node_pass
    steps:
      - checkout:
      - restore_cache:
          keys:
            - npm-v1-{{ .Branch }}-{{ checksum "hedera-mirror-rest/package-lock.json" }}
            - npm-v1-{{ .Branch }}
            - npm-v1-
      - run:
          working_directory: "hedera-mirror-rest"
          name: Resolve dependencies
          command: npm ci
      - save_cache:
          key: npm-v1-{{ .Branch }}-{{ checksum "hedera-mirror-rest/package-lock.json" }}
          paths:
            - node_modules
            - .node-flywaydb
            - ~/.npm
            - run:
                working_directory: "hedera-mirror-rest"
                name: Run npm test
                command: npm test
                environment:
                  TEST_DB_HOST: "127.0.0.1"
                  TEST_DB_NAME: "mirror_node_integration"
            - store_test_results:
                path: hedera-mirror-rest/target/jest-junit
      - run:
          working_directory: "hedera-mirror-rest"
          name: Collecting assets
          command: |
            set -ex
            VERSION_TAG=${CIRCLE_TAG/*\//}
            NAME=hedera-mirror-rest-${VERSION_TAG:-b$CIRCLE_BUILD_NUM}
            npm pack
            mkdir -p /tmp/workspace/artifacts
            mv hedera-mirror-rest*.tgz /tmp/workspace/artifacts/${NAME}.tgz
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - artifacts

  release_artifacts:
    docker:
      - image: adoptopenjdk:11-jdk-hotspot
    steps:
      - *attach_workspace
      - store_artifacts:
          path: /tmp/workspace/artifacts

  release_docker_images:
    #    machine: true
    docker:
      - image: adoptopenjdk:11-jdk-hotspot
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run: |
          docker version
      - run:
          name: Calculate checksum of all pom.xml
          command: find . -type f -name "pom.xml" | sort -u | xargs sha512sum > pom.xml.checksum
      - restore_cache:
          keys:
            - maven-v2-{{ .Branch }}-{{ checksum "pom.xml.checksum" }}
            - maven-v2-{{ .Branch }}
            - maven-v2-
      - run:
          name: Resolve dependencies
          # See https://issues.apache.org/jira/browse/MDEP-516 for why we don't use maven-dependency-plugin
          command: ./mvnw ${MAVEN_CLI_OPTS} de.qaware.maven:go-offline-maven-plugin:resolve-dependencies
      - save_cache:
          key: maven-v2-{{ .Branch }}-{{ checksum "pom.xml.checksum" }}
          paths:
            - ~/.m2
      - run:
          name: Running maven deploy
          command: ./mvnw deploy -Ddocker.username=apeksharma -Ddocker.password=4d6da625badf5cf175261737d55e5d7014268992 -DskipTests
