apiVersion: v2
appVersion: 0.87.0-SNAPSHOT
dependencies:
  - name: loki
    condition: loki.enabled
    version: 5.9.2
    repository: https://grafana.github.io/helm-charts
  - condition: prometheus-adapter.enabled
    name: prometheus-adapter
    repository: https://prometheus-community.github.io/helm-charts
    version: 4.3.1
  - alias: prometheus
    condition: prometheus.enabled
    name: kube-prometheus-stack
    repository: https://prometheus-community.github.io/helm-charts
    version: 48.2.3
  - name: promtail
    condition: promtail.enabled
    version: 6.14.1
    repository: https://grafana.github.io/helm-charts
  - alias: stackgres
    condition: stackgres.enabled
    name: stackgres-operator
    repository: https://stackgres.io/downloads/stackgres-k8s/stackgres/helm/
    version: 1.5.0
  - condition: traefik.enabled
    name: traefik
    repository: https://helm.traefik.io/traefik
    version: 23.2.0
  - alias: zfs
    condition: zfs.enabled
    name: zfs-localpv
    repository: https://openebs.github.io/zfs-localpv
    version: 2.1.0
description: Hedera Mirror Node common components installed globally for use across namespaces
home: https://github.com/hashgraph/hedera-mirror-node
icon: https://camo.githubusercontent.com/cca6b767847bb8ca5c7059481ba13a5fc81c5938/68747470733a2f2f7777772e6865646572612e636f6d2f6c6f676f2d6361706974616c2d686261722d776f72646d61726b2e6a7067
maintainers:
  - name: Hedera Mirror Node Team
    email: mirrornode@hedera.com
name: hedera-mirror-common
sources:
  - https://github.com/hashgraph/hedera-mirror-node
version: 0.87.0-SNAPSHOT
