apiVersion: v2
appVersion: "0.35.0-SNAPSHOT"
dependencies:
  - name: loki
    condition: loki.enabled
    version: 2.5.0
    repository: https://grafana.github.io/helm-charts
  - condition: prometheus-adapter.enabled
    name: prometheus-adapter
    repository: https://prometheus-community.github.io/helm-charts
    version: 2.12.1
  - alias: prometheus
    condition: prometheus.enabled
    name: kube-prometheus-stack
    repository: https://prometheus-community.github.io/helm-charts
    version: 14.4.0
  - name: promtail
    condition: promtail.enabled
    version: 3.5.0
    repository: https://grafana.github.io/helm-charts
  - condition: traefik.enabled
    name: traefik
    repository: https://helm.traefik.io/traefik
    version: 9.18.2
description: Hedera Mirror Node common components installed globally for use across namespaces
home: https://github.com/hashgraph/hedera-mirror-node
icon: https://camo.githubusercontent.com/cca6b767847bb8ca5c7059481ba13a5fc81c5938/68747470733a2f2f7777772e6865646572612e636f6d2f6c6f676f2d6361706974616c2d686261722d776f72646d61726b2e6a7067
maintainers:
  - name: ijungmann
  - name: Nana-EC
  - name: steven-sheehy
  - name: xin-hedera
name: hedera-mirror-common
sources:
  - https://github.com/hashgraph/hedera-mirror-node
version: 0.22.0-SNAPSHOT
