# If USE_TESTNET is true NODE_ID and NODE_ADDRESS will be ignored
USE_TESTNET=true

# Network Node ID and Address
NODE_ID=<nodeId>
NODE_ADDRESS=<ip>:<port>

# Account ID and Private Key
OPERATOR_ID=<accountId>
OPERATOR_KEY=<privateKey>

# Mirror node grpc node
MIRROR_NODE_ADDRESS=<ip>:<port>
