# Network Node ID and Address
NODE_ID=<nodeId>
# specify testnet/mainnet or desired <ip>:<port> for other environments
NODE_ADDRESS=

# Account ID and Private Key
OPERATOR_ID=<accountId>
OPERATOR_KEY=<privateKey>

# Mirror node grpc node
MIRROR_NODE_ADDRESS=<ip>:<port>
