POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/data/pgdata

# REST API parameters
DB_USER=api
DB_PASS=apipass
DB_NAME=postgres
PORT=5551
