[Unit]
After=network.target
Description=Hedera Mirror Node Record Downloader

[Service]
Environment=HEDERA_MIRROR_CONFIG_PATH=/usr/etc/mirror-node/config.json
ExecStart=/usr/bin/java -Djavax.net.ssl.trustStorePassword=changeit -cp mirror-node.jar com.hedera.downloader.RecordFileDownloader
Restart=on-failure
RestartSec=3
Type=simple
WorkingDirectory=/usr/lib/mirror-node
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
