# These values are production values used in combination with the hedera-mirror-common chart
grpc:
  ingress:
    middleware:
      enabled: true
  priorityClassName: medium
  prometheusRules:
    enabled: true
  serviceMonitor:
    enabled: true

importer:
  podMonitor:
    enabled: true
  priorityClassName: high
  prometheusRules:
    enabled: true

monitor:
  podMonitor:
    enabled: true
  priorityClassName: medium
  prometheusRules:
    enabled: true

postgresql:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  pgpool:
    priorityClassName: critical
    replicaCount: 2
  postgresql:
    priorityClassName: critical
    replicaCount: 2

redis:
  cluster:
    slaveCount: 3
  metrics:
    enabled: true
  slave:
    priorityClassName: critical

rest:
  ingress:
    middleware:
      enabled: true
  priorityClassName: medium
  prometheusRules:
    enabled: true
  serviceMonitor:
    enabled: true

timescaledb:
  replicaCount: 2
