# These values are production values used in combination with the hedera-mirror-common chart
alertmanager:
  inhibitRules:
    enabled: true

grpc:
  alertmanager:
    inhibitRules:
      enabled: true
  hpa:
    enabled: true
    minReplicas: 2
  ingress:
    middleware:
      enabled: true
  podDisruptionBudget:
    enabled: true
  priorityClassName: medium
  prometheusRules:
    enabled: true
  serviceMonitor:
    enabled: true

importer:
  alertmanager:
    inhibitRules:
      enabled: true
  podDisruptionBudget:
    enabled: true
  podMonitor:
    enabled: true
  priorityClassName: high
  prometheusRules:
    enabled: true
  replicas: 2
  updateStrategy:
    rollingUpdate:
      maxSurge: 0

monitor:
  alertmanager:
    inhibitRules:
      enabled: true
  priorityClassName: medium
  prometheusRules:
    enabled: true
  serviceMonitor:
    enabled: true

postgresql:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  pgpool:
    priorityClassName: critical
    replicaCount: 2
  postgresql:
    priorityClassName: critical
    replicaCount: 2

redis:
  metrics:
    enabled: true
    sentinel:
      enabled: true
  replica:
    priorityClassName: critical
    replicaCount: 3

rest:
  alertmanager:
    inhibitRules:
      enabled: true
  hpa:
    minReplicas: 3
  ingress:
    middleware:
      enabled: true
  podDisruptionBudget:
    enabled: true
  priorityClassName: medium
  prometheusRules:
    enabled: true
  serviceMonitor:
    enabled: true

rosetta:
  alertmanager:
    inhibitRules:
      enabled: true
  hpa:
    minReplicas: 2
  ingress:
    middleware:
      enabled: true
  podDisruptionBudget:
    enabled: true
  priorityClassName: medium
  prometheusRules:
    enabled: true
  serviceMonitor:
    enabled: true

timescaledb:
  podMonitor:
    enabled: true
  prometheus:
    enabled: true
  replicaCount: 2

