{
  "cloud-provider": "S3",
  "clientRegion": "us-east-2",
  "bucketName": "",
  "accessKey": "",
  "secretKey": "",
  "downloadToDir": "./MirrorNodeData",
  "addressBookFile": "./config/0.0.102",
  "accountBalancesS3Location": "accountBalances/balance",
  "eventFilesS3Location": "eventsStreams/events_",
  "recordFilesS3Location": "recordstreams/record",
  "maxDownloadItems": 10,
  "persistClaims": false,
  "persistFiles": "ALL",
  "persistContracts": true,
  "persistCryptoTransferAmounts": true
}
