{
  "cloud-provider": "S3",
  "clientRegion": "us-east-2",
  "bucketName": "",
  "accessKey": "",
  "secretKey": "",
  "downloadToDir": "./MirrorNodeData",
  "addressBookFile": "./config/0.0.102",
  "accountBalancesS3Location": "accountBalances/balance",
  "eventFilesS3Location": "eventsStreams/events_",
  "recordFilesS3Location": "recordstreams/record",
  "dbName": "mirror_node",
  "dbUrl": "jdbc:postgresql://127.0.0.1:5432/mirror_node?&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC",
  "dbUsername": "mirror_node",
  "dbPassword": "mirror_node_pass",
  "apiUsername":"mirror_api",
  "apiPassword":"mirror_api_pass",
  "maxDownloadItems": 10,
  "persistClaims": false,
  "persistFiles": "ALL",
  "persistContracts": true,
  "persistCryptoTransferAmounts": true
}
