{
  "cloud-provider": "S3",
  "clientRegion": "us-east-2",
  "bucketName": "",
  "accessKey": "",
  "secretKey": "",
  "downloadToDir": "./MirrorNodeData",
  "addressBookFile": "./config/0.0.102",
  "accountBalancesS3Location": "accountBalances/balance",
  "eventFilesS3Location": "eventsStreams/events_",
  "recordFilesS3Location": "recordstreams/record",
  "dbName":"postgres",
  "dbUrl": "jdbc:postgresql://127.0.0.1:5432/postgres?&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC",
  "dbUsername": "postgres",
  "dbPassword": "mysecretpassword",
  "apiUsername":"api",
  "apiPassword":"mysecretpassword",
  "maxDownloadItems": 10,
  "persistClaims": false,
  "persistFiles": "ALL",
  "persistContracts": true,
  "persistCryptoTransferAmounts": true,
  "balanceVerifySigs": true
}
