POSTGRES_DB=mirror_node
POSTGRES_USER=mirror_node
POSTGRES_PASSWORD=mirror_node_pass
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/data/pgdata

# REST API parameters
DB_USER=mirror_api
DB_PASS=mirror_api_pass
DB_NAME=mirror_node
PORT=5551
