{{- $name := "mirror-passwords" -}}  # postgresl-ha doesn't support templated names
apiVersion: v1
kind: Secret
metadata:
  labels: {{ include "hedera-mirror.labels" . | nindent 4 }}
  name: {{ $name }}
  namespace: {{ include "hedera-mirror.namespace" . }}
stringData:
  {{- $secret := lookup "v1" "Secret" .Release.Namespace $name | default dict -}}
  {{- $passwords := $secret.data | default dict -}}
  {{- $grpcPassword := coalesce .Values.grpc.db.password ($passwords.HEDERA_MIRROR_GRPC_DB_PASSWORD | default "" | b64dec) (randAlphaNum 40) -}}
  {{- $grpcUsername := .Values.grpc.db.username -}}
  {{- $importerPassword := coalesce .Values.importer.db.password ($passwords.HEDERA_MIRROR_IMPORTER_DB_PASSWORD | default "" | b64dec) (randAlphaNum 40) -}}
  {{- $importerUsername := .Values.importer.db.username -}}
  {{- $ownerPassword := coalesce .Values.db.owner.password ($passwords.HEDERA_MIRROR_IMPORTER_DB_OWNERPASSWORD | default "" | b64dec) (randAlphaNum 40) -}}
  {{- $ownerUsername := .Values.db.owner.username -}}
  {{- $restPassword := coalesce .Values.rest.db.password ($passwords.HEDERA_MIRROR_IMPORTER_DB_RESTPASSWORD | default "" | b64dec) (randAlphaNum 40) -}}
  {{- $restUsername := .Values.rest.db.username -}}
  {{- $rosettaPassword := coalesce .Values.rosetta.db.password ($passwords.HEDERA_MIRROR_ROSETTA_DB_PASSWORD | default "" | b64dec) (randAlphaNum 40) -}}
  {{- $rosettaUsername := .Values.rosetta.db.username }}

  HEDERA_MIRROR_GRPC_DB_PASSWORD: "{{ $grpcPassword }}"
  HEDERA_MIRROR_GRPC_DB_USERNAME: "{{ $grpcUsername }}"
  HEDERA_MIRROR_IMPORTER_DB_HOST: "{{ tpl .Values.db.host . }}{{ if .Values.postgresql.enabled }}{{ ternary "-postgres-pgpool" "-postgres-postgresql" (gt (.Values.postgresql.pgpool.replicaCount | int) 0) }}{{ end }}"
  HEDERA_MIRROR_IMPORTER_DB_NAME: "{{ .Values.db.name }}"
  HEDERA_MIRROR_IMPORTER_DB_SCHEMA: "{{ ternary "mirrornode" .Values.db.schema .Values.timescaledb.enabled }}"
  HEDERA_MIRROR_IMPORTER_DB_PASSWORD: "{{ $importerPassword }}"
  HEDERA_MIRROR_IMPORTER_DB_USERNAME: "{{ $importerUsername }}"
  HEDERA_MIRROR_IMPORTER_DB_OWNERPASSWORD: "{{ $ownerPassword }}"
  HEDERA_MIRROR_IMPORTER_DB_OWNER: "{{ $ownerUsername }}"
  HEDERA_MIRROR_IMPORTER_DB_RESTPASSWORD: "{{ $restPassword }}"
  HEDERA_MIRROR_IMPORTER_DB_RESTUSERNAME: "{{ $restUsername }}"
  HEDERA_MIRROR_ROSETTA_DB_PASSWORD: "{{ $rosettaPassword }}"
  HEDERA_MIRROR_ROSETTA_DB_USERNAME: "{{ $rosettaUsername }}"

  {{ if .Values.postgresql.enabled -}}
  admin-password: {{ coalesce .Values.postgresql.pgpool.adminPassword (get $passwords "admin-password" | default "" | b64dec) (randAlphaNum 40) | quote }}
  PGPOOL_POSTGRES_CUSTOM_PASSWORDS: "{{ $grpcPassword }},{{ $importerPassword }},{{ $ownerPassword }},{{ $restPassword }},{{ $rosettaPassword }}"
  PGPOOL_POSTGRES_CUSTOM_USERS: "{{ $grpcUsername }},{{ $importerUsername }},{{ $ownerUsername }},{{ $restUsername }},{{ $rosettaUsername }}"
  postgresql-password: {{ coalesce .Values.postgresql.postgresql.password (get $passwords "postgresql-password" | default "" | b64dec) (randAlphaNum 40) | quote }}
  repmgr-password: {{ coalesce .Values.postgresql.postgresql.repmgrPassword (get $passwords "repmgr-password" | default "" | b64dec) (randAlphaNum 40) | quote }}
  {{ end -}}

  {{ if .Values.timescaledb.enabled -}}
  PATRONI_SUPERUSER_PASSWORD: "{{ $importerPassword }}"
  PATRONI_REPLICATION_PASSWORD: "{{ $importerPassword }}"
  PATRONI_admin_PASSWORD: "{{ $importerPassword }}"
  SPRING_PROFILES_ACTIVE: "v2"
  {{- end -}}
