[Unit]
After=syslog.target
Description=Hedera Mirror Importer

[Service]
ExecStart=/usr/bin/java -Xms2g -Xmx10g -XX:+CrashOnOutOfMemoryError -jar hedera-mirror-importer.jar --spring.config.additional-location=file:/usr/etc/hedera-mirror-importer/
LimitNOFILE=65536
Restart=on-failure
RestartSec=1
SuccessExitStatus=143
Type=simple
WorkingDirectory=/usr/lib/hedera-mirror-importer

[Install]
WantedBy=multi-user.target
