[Unit]
After=syslog.target
Description=Hedera Mirror Node

[Service]
Environment=HEDERA_MIRROR_CONFIG_PATH=/usr/etc/mirror-node/config.json
ExecStart=/usr/bin/java -jar mirror-node.jar -Djavax.net.ssl.trustStorePassword=changeit -DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector --spring.config.additional-location=file:/usr/etc/mirror-node/
LimitNOFILE=65536
Restart=on-failure
RestartSec=1
SuccessExitStatus=143
Type=simple
WorkingDirectory=/usr/lib/mirror-node
ExecStartPre=-/bin/rm -f /usr/lib/mirror-node/stop
ExecStop=/usr/bin/touch /usr/lib/mirror-node/stop
ExecStop=/usr/bin/timeout 20 /usr/bin/tail --pid=${MAINPID} -f /dev/null

[Install]
WantedBy=multi-user.target
