affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          topologyKey: kubernetes.io/hostname
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: importer

annotations: {}

config:
  hedera:
    mirror:
      dataPath: /var/lib/hedera-mirror-importer

fullnameOverride: ""

global:
  namespaceOverride: ""

image:
  pullPolicy: IfNotPresent
  repository: gcr.io/mirrornode/hedera-mirror-importer
  tag: 0.8.0-rc1

imagePullSecrets: []

labels:
  role: app

livenessProbe:
  httpGet:
    path: /actuator/health
    port: http
  initialDelaySeconds: 60
  periodSeconds: 30
  timeoutSeconds: 2

nameOverride: ""

networkPolicy:
  enabled: false

nodeSelector: {}

persistence:
  accessModes:
    - ReadWriteOnce
  annotations: {}
  enabled: true
  size: 10Gi
  storageClass: standard

podManagementPolicy: OrderedReady

podSecurityContext:
  fsGroup: 1000

priorityClassName: ""

rbac:
  enabled: true

readinessProbe:
  httpGet:
    path: /actuator/health
    port: http
  initialDelaySeconds: 60
  timeoutSeconds: 2

replicas: 1

resources:
  limits:
    cpu: 500m
    memory: 750Mi
  requests:
    cpu: 200m
    memory: 256Mi

revisionHistoryLimit: 3

securityContext:
  capabilities:
    drop: [ALL]
  readOnlyRootFilesystem: true
  runAsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000

service:
  port: 8080
  type: ClusterIP

serviceAccount:
  create: true
  # The name of the service account to use. If not set and create is true, a name is generated using the fullname template
  name:

serviceMonitor:
  enabled: true
  interval: 30s

terminationGracePeriodSeconds: 30

tolerations: []

updateStrategy:
  type: RollingUpdate
