apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - gitrepository.yaml
  - sealed-secret-importer.yaml
  - sealed-secret-monitor.yaml
  - helmrelease.yaml
