# This file contains application defaults and shouldn't be modified. See docs/configuration.md for how to override.
hedera:
  mirror:
    rest:
      cache:
        entityId:
          maxAge: 1800
          maxSize: 100000
      db:
        host: 127.0.0.1
        name: mirror_node
        password: mirror_api_pass
        pool:
          connectionTimeout: 20000
          maxConnections: 10
          statementTimeout: 20000
        port: 5432
        tls:
          ca: ''
          cert: ''
          enabled: false
          key: ''
        username: mirror_api
      includeHostInLink: false
      log:
        level: debug
      maxLimit: 100
      maxRepeatedQueryParameters: 100
      metrics:
        enabled: true
        config:
          authentication: true
          durationBuckets: [ 100, 250, 500, 1000, 2500, 5000 ]
          password: password
          requestSizeBuckets: [ 64, 256, 1024 ]
          responseSizeBuckets: [ 512, 1024, 10240, 25600, 51200 ]
          swaggerOnly: true,
          username: metrics
          uriPath: '/swagger'
        ipMetrics: false
      network:
        unreleasedSupplyAccounts:
          - 0.0.2
          - 0.0.42
          - 0.0.43
          - 0.0.44
          - 0.0.45
          - 0.0.46
          - 0.0.47
          - 0.0.48
          - 0.0.49
          - 0.0.50
          - 0.0.51
          - 0.0.52
          - 0.0.53
          - 0.0.54
          - 0.0.55
          - 0.0.56
          - 0.0.57
          - 0.0.58
          - 0.0.59
          - 0.0.60
          - 0.0.61
          - 0.0.62
          - 0.0.63
          - 0.0.64
          - 0.0.65
          - 0.0.66
          - 0.0.67
          - 0.0.68
          - 0.0.69
          - 0.0.70
          - 0.0.71
          - 0.0.73
          - 0.0.74
          - 0.0.75
          - 0.0.76
          - 0.0.77
          - 0.0.78
          - 0.0.79
          - 0.0.80
          - 0.0.81
          - 0.0.82
          - 0.0.83
          - 0.0.84
          - 0.0.85
          - 0.0.86
          - 0.0.87
          - 0.0.99
          - 0.0.100
          - 0.0.101
          - 0.0.102
          - 0.0.111
          - 0.0.112
      openapi:
        specFileName: 'openapi'
        swaggerUIPath: 'docs'
      port: 5551
      response:
        compression: true
      shard: 0
      stateproof:
        addressBookHistory: false
        enabled: false
        streams:
          network: 'DEMO'
          cloudProvider: 'S3'
          endpointOverride:
          gcpProjectId:
          region: 'us-east-1'
          accessKey:
          secretKey:
          bucketName:

