# This file contains application defaults and shouldn't be modified. See docs/configuration.md for how to override.
hedera:
  mirror:
    rest:
      cache:
        entityId:
          maxAge: 1800
          maxSize: 100000
      db:
        host: 127.0.0.1
        name: mirror_node
        password: mirror_api_pass
        pool:
          connectionTimeout: 20000
          maxConnections: 10
          statementTimeout: 20000
        port: 5432
        sslMode: DISABLE
        tls:
          ca: ''
          cert: ''
          enabled: false
          key: ''
        username: mirror_api
      log:
        level: info
      metrics:
        enabled: true
        config:
          authentication: true
          durationBuckets: [ 25, 100, 250, 500 ]
          password: password
          requestSizeBuckets: [ ]
          responseSizeBuckets: [ 100, 250, 500, 1000 ]
          swaggerOnly: true,
          username: metrics
          uriPath: '/swagger'
        ipMetrics: false
      network:
        unreleasedSupplyAccounts:
          - from: 0.0.2
            to: 0.0.2
          - from: 0.0.42
            to: 0.0.42
          - from: 0.0.44
            to: 0.0.71
          - from: 0.0.73
            to: 0.0.87
          - from: 0.0.99
            to: 0.0.100
          - from: 0.0.200
            to: 0.0.349
          - from: 0.0.400
            to: 0.0.750
        # valid values for currencyFormat are 'BOTH', 'HBARS', and 'TINYBARS'
        currencyFormat: 'BOTH'
      openapi:
        specFileName: 'openapi'
        swaggerUIPath: 'docs'
      port: 5551
      query:
        maxRepeatedQueryParameters: 100
        maxTimestampRange: 7d
        maxTransactionConsensusTimestampRange: 35m
      response:
        compression: true
        headers:
          default: { 'Cache-Control': 'public, max-age=1' }
          path:
            /api/v1/network/fees: { 'Cache-Control': 'public, max-age=60' }
            /api/v1/network/exchangerate: { 'Cache-Control': 'public, max-age=60' }
            /api/v1/transactions/:transactionId: { 'Cache-Control': 'public, max-age=300' }
            /api/v1/transactions/:transactionId/stateproof: { 'Cache-Control': 'public, max-age=600' }
        includeHostInLink: false
        limit:
          default: 25
          max: 100
          tokenBalance:
            multipleAccounts: 50
            singleAccount: 1000
      shard: 0
      stateproof:
        addressBookHistory: false
        enabled: false
        streams:
          accessKey:
          bucketName:
          cloudProvider: 'S3'
          endpointOverride:
          gcpProjectId:
          httpOptions:
            connectTimeout: 2000
            timeout: 5000
          maxRetries: 3
          network: 'DEMO'
          region: 'us-east-1'
          secretKey:
