# This file contains application defaults and shouldn't be modified. See docs/configuration.md for how to override.
hedera:
  mirror:
    rest:
      db:
        host: 127.0.0.1
        name: mirror_node
        password: mirror_api_pass
        pool:
          connectionTimeout: 20000
          maxConnections: 10
          statementTimeout: 20000
        port: 26257
        tls:
          ca: ''
          cert: ''
          enabled: false
          key: ''
        username: mirror_api
      includeHostInLink: false
      log:
        level: debug
      maxLimit: 500
      maxRepeatedQueryParameters: 100
      metrics:
        enabled: true
        config:
          authentication: true
          durationBuckets: [ 100, 250, 500, 1000, 2500, 5000 ]
          password: password
          requestSizeBuckets: [ 64, 256, 1024 ]
          responseSizeBuckets: [ 512, 1024, 10240, 25600, 51200 ]
          swaggerOnly: true,
          username: metrics
          uriPath: '/swagger'
        ipMetrics: false
      openapi:
        specFileName: 'openapi'
        swaggerUIPath: 'docs'
      port: 5551
      shard: 0
      stateproof:
        addressBookHistory: false
        enabled: false
        streams:
          network: 'DEMO'
          cloudProvider: 'S3'
          endpointOverride:
          gcpProjectId:
          region: 'us-east-1'
          accessKey:
          secretKey:
          bucketName:

