# This file contains application defaults and shouldn't be modified. See docs/configuration.md for how to override.
hedera:
  mirror:
    rest:
      cache:
        entityId:
          maxAge: 1800
          maxSize: 100000
        response:
          enabled: false
          compress: true
        token:
          maxSize: 100000
      db:
        host: 127.0.0.1
        name: mirror_node
        password: mirror_api_pass
        pool:
          connectionTimeout: 20000
          maxConnections: 10
          statementTimeout: 20000
        port: 5432
        primaryHost: ""
        sslMode: DISABLE
        tls:
          ca: ""
          cert: ""
          enabled: false
          key: ""
        username: mirror_api
      log:
        level: info
      metrics:
        enabled: true
        config:
          authentication: false
          durationBuckets: [25, 100, 250, 500]
          password: password
          requestSizeBuckets: []
          responseSizeBuckets: [100, 250, 500, 1000]
          swaggerOnly: true,
          username: metrics
          uriPath: "/swagger"
        ipMetrics: false
      network:
        unreleasedSupplyAccounts:
          - from: 0.0.2
            to: 0.0.2
          - from: 0.0.42
            to: 0.0.42
          - from: 0.0.44
            to: 0.0.71
          - from: 0.0.73
            to: 0.0.87
          - from: 0.0.99
            to: 0.0.100
          - from: 0.0.200
            to: 0.0.349
          - from: 0.0.400
            to: 0.0.750
        # valid values for currencyFormat are 'BOTH', 'HBARS', and 'TINYBARS'
        currencyFormat: "BOTH"
      openapi:
        specFileName: "openapi"
        swaggerUIPath: "docs"
        validation:
          enabled: false
      port: 5551
      query:
        bindTimestampRange: false
        maxRecordFileCloseInterval: 10s
        maxRepeatedQueryParameters: 100
        maxScheduledTransactionConsensusTimestampRange: 89285m
        maxTimestampRange: 7d
        maxTransactionConsensusTimestampRange: 35m
        maxTransactionsTimestampRange: 60d
        strictTimestampParam: true
        topicMessageLookup: false
        transactions:
          precedingTransactionTypes:
            - 11 #CRYPTOCREATEACCOUNT
            - 15 #CRYPTOUPDATEACCOUNT
      redis:
        commandTimeout: 10000
        connectTimeout: 10000
        enabled: true
        maxBackoff: 128000
        maxMemory: 750Mb
        maxMemoryPolicy: allkeys-lfu
        maxRetriesPerRequest: 1
        sentinel:
          enabled: false
          host: 127.0.0.1
          name: "mirror"
          password: ""
          port: 26379
        uri: redis://127.0.0.1:6379
      response:
        compression: true
        headers:
          default:
            {
              "cache-control": "public, max-age=1",
              "content-type": "application/json; charset=utf-8",
            }
          path:
            /api/v1/accounts: { "cache-control": "public, max-age=10" }
            /api/v1/accounts/:idOrAliasOrEvmAddress:
              { "cache-control": "public, max-age=2" }
            /api/v1/accounts/:idOrAliasOrEvmAddress/rewards:
              { "cache-control": "public, max-age=60" }
            /api/v1/blocks/:hashOrNumber:
              { "cache-control": "public, max-age=600" }
            /api/v1/contracts: { "cache-control": "public, max-age=10" }
            /api/v1/contracts/:contractId/results/:consensusTimestamp([0-9.]+):
              { "cache-control": "public, max-age=600" }
            /api/v1/contracts/results: { "cache-control": "public, max-age=10" }
            /api/v1/contracts/results/logs:
              { "cache-control": "public, max-age=10" }
            /api/v1/contracts/results/:transactionIdOrHash:
              { "cache-control": "public, max-age=600" }
            /api/v1/contracts/results/:transactionIdOrHash/actions:
              { "cache-control": "public, max-age=600" }
            /api/v1/network/exchangerate:
              { "cache-control": "public, max-age=60" }
            /api/v1/network/fees: { "cache-control": "public, max-age=60" }
            /api/v1/network/nodes: { "cache-control": "public, max-age=60" }
            /api/v1/network/stake: { "cache-control": "public, max-age=60" }
            /api/v1/network/supply: { "cache-control": "public, max-age=60" }
            /api/v1/schedules: { "cache-control": "public, max-age=10" }
            /api/v1/tokens: { "cache-control": "public, max-age=10" }
            /api/v1/tokens/:tokenId: { "cache-control": "public, max-age=5" }
            /api/v1/topics/:topicId/messages/:sequenceNumber:
              { "cache-control": "public, max-age=600" }
            /api/v1/topics/messages/:consensusTimestamp:
              { "cache-control": "public, max-age=600" }
            /api/v1/transactions: { "cache-control": "public, max-age=2" }
            /api/v1/transactions/:transactionIdOrHash:
              { "cache-control": "public, max-age=600" }
            /api/v1/transactions/:transactionId/stateproof:
              { "cache-control": "public, max-age=600" }
        includeHostInLink: false
        limit:
          default: 25
          max: 100
          tokenBalance:
            multipleAccounts: 50
            singleAccount: 1000
      shard: 0
      stateproof:
        addressBookHistory: false
        enabled: false
        streams:
          accessKey:
          bucketName:
          cloudProvider: "S3"
          endpointOverride:
          gcpProjectId:
          httpOptions:
            connectTimeout: 2000
            timeout: 5000
          maxRetries: 3
          network: "DEMO"
          region: "us-east-1"
          secretKey:
