name: "Gradle"
on:
  pull_request:
    branches:
      - "main"
      - "release/**"
  push:
    branches:
      - "main"
      - "release/**"
    tags:
      - "v*"

defaults:
  run:
    shell: bash

permissions:
  contents: read

env:
  LC_ALL: C.UTF-8
  CGO_ENABLED: 1

jobs:
  build:
    name: Build
    runs-on: mirror-node-linux-large
    strategy:
      matrix:
        project:
          - common
          - graphql
          - grpc
          - importer
          - monitor
          - rest
          - rest-java
          - "rest:check-state-proof"
          - "rest:monitoring"
          - rosetta
          - test
          - web3
        schema:
          - v1
          - v2
        exclude:
          - project: common
            schema: v2
          - project: monitor
            schema: v2
          - project: rest:check-state-proof
            schema: v2
          - project: rest:monitoring
            schema: v2
          - project: rosetta
            schema: v2
          - project: test
            schema: v2
    timeout-minutes: 40 # increase it from 20 minutes since some jobs often run longer on self-hosted runners
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v2.10.2
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version: 18

      - name: Install JDK
        uses: actions/setup-java@7a6d8a8234af8eb26422e24e3006232cccaa061b # v4.6.0
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@cc4fc85e6b35bafd578d5ffbc76a5518407e1af0 # v4

      - name: Setup GCC Compiler
        if: ${{ matrix.project == 'rosetta' }}
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends gcc libc-dev libc6-dev

      - name: Execute Gradle
        env:
          MIRROR_NODE_SCHEMA: ${{ matrix.schema}}
          SPRING_PROFILES_ACTIVE: ${{ matrix.schema}}
        run: ./gradlew :${{matrix.project}}:build --scan ${{ secrets.GRADLE_ARGS }}

      - name: Upload coverage report
        uses: codecov/codecov-action@b9fd7d16f6d7d1b5d2bec1a2887e65ceed900238 # v4.6.0
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        if: ${{ matrix.schema == 'v1' && matrix.project != 'rest:monitoring' && matrix.project != 'test' && always() }}
