name: "Gradle"

on:
  pull_request:
    branches: [main, release/**]
  push:
    branches: [main, release/**]
    tags: [v*]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project:
          [
            common,
            graphql,
            grpc,
            importer,
            monitor,
            rest,
            rest-java,
            "rest:check-state-proof",
            "rest:monitoring",
            rosetta,
            test,
            web3,
          ]
        schema: [v1, v2]
        exclude:
          - project: common
            schema: v2
          - project: monitor
            schema: v2
          - project: rest:check-state-proof
            schema: v2
          - project: rest:monitoring
            schema: v2
          - project: rosetta
            schema: v2
          - project: test
            schema: v2
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Execute Gradle
        uses: gradle/gradle-build-action@v3
        env:
          MIRROR_NODE_SCHEMA: ${{ matrix.schema}}
          SPRING_PROFILES_ACTIVE: ${{ matrix.schema}}
        with:
          arguments: :${{matrix.project}}:build --scan ${{ secrets.GRADLE_ARGS }}

      - name: Upload coverage report
        uses: codecov/codecov-action@v4
        if: always() && matrix.schema == 'v1'
