name: "Gradle"

on:
  pull_request:
    branches: [ main, release/** ]
  push:
    branches: [ main, release/** ]
    tags: [ v* ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: [ common, graphql, grpc, importer, monitor, rest, 'rest:check-state-proof', 'rest:monitoring', rosetta, web3 ]
        schema: [ v1, v2 ]
        exclude:
          - project: common
            schema: v2
          - project: monitor
            schema: v2
          - project: rest:check-state-proof
            schema: v2
          - project: rest:monitoring
            schema: v2
          - project: rosetta
            schema: v2
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Execute Gradle
        uses: gradle/gradle-build-action@v2
        env:
          MIRROR_NODE_SCHEMA: ${{ matrix.schema}}
          SPRING_PROFILES_ACTIVE: ${{ matrix.schema}}
        with:
          arguments: :${{matrix.project}}:build --scan ${{ secrets.GRADLE_ARGS }}

      - name: Upload coverage report
        uses: codecov/codecov-action@v3
        if: always() && matrix.schema == 'v1'

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v3
        if: always()
        with:
          report_paths: "**/build/test-results/test/TEST-*.xml"
          require_tests: "false"

      - name: Upload artifact
        if: startsWith(github.ref, 'refs/tags/v') && matrix.project != 'common' && matrix.schema == 'v1'
        uses: actions/upload-artifact@v3
        with:
          name: hedera-mirror-${{matrix.project}}
          path: hedera-mirror-${{matrix.project}}/build/**/*.tgz
