name: "Importer"

on:
  pull_request:
    branches: [ master, release/** ]
  push:
    tags: [ v* ]

defaults:
  run:
    working-directory: ./hedera-mirror-importer

env:
  MAVEN_CLI_OPTS: --batch-mode --no-transfer-progress
  MODULE: hedera-mirror-importer

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        schema: [ v1, v2 ]
    timeout-minutes: 15
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          key: ${{ runner.os }}-m2-${{ hashFiles('./pom.xml') }}
          path: ~/.m2
          restore-keys: ${{ runner.os }}-m2

      - name: Set v1 environment
        if: matrix.schema == 'v1'
        run: echo 'groups=!v2' >> $GITHUB_ENV

      - name: Set v2 environment
        if: matrix.schema == 'v2'
        run: echo 'groups=!v1' >> $GITHUB_ENV

      - name: Maven verify
        run: ./mvnw ${MAVEN_CLI_OPTS} verify -pl "${MODULE}" --also-make -Dspring.profiles.active=${{ matrix.schema }} -Dgroups='${{ env.groups }}'
        working-directory: .

      - name: Upload coverage report
        if: always()
        run: bash <(curl -s https://codecov.io/bash)

      - name: Upload artifact
        if: startsWith(github.ref, 'refs/tags/v')
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.MODULE }}
          path: ./**/*.tgz
          if-no-files-found: error
