name: "Monitor"

on:
  pull_request:
    branches: [ main, release/** ]
  push:
    tags: [ v* ]

defaults:
  run:
    working-directory: ./hedera-mirror-monitor

env:
  MAVEN_CLI_OPTS: --batch-mode --no-transfer-progress
  MODULE: hedera-mirror-monitor

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          key: ${{ runner.os }}-m2-${{ hashFiles('./pom.xml') }}
          path: ~/.m2
          restore-keys: ${{ runner.os }}-m2

      - name: Maven verify
        run: ./mvnw ${MAVEN_CLI_OPTS} verify -pl "${MODULE}" --also-make -Dtest='!com.hedera.mirror.importer.**' -DfailIfNoTests=false
        working-directory: .

      - name: Upload coverage report
        if: always()
        run: bash <(curl -s https://codecov.io/bash)
