name: Release Integration

on:
  push:
    branches: [ main ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install JDK
        uses: actions/setup-java@v2
        with:
          cache: 'maven'
          distribution: 'temurin'
          java-version: 17

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v0
        with:
          credentials_json: '${{ secrets.GCR_KEY }}'

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v0

      - name: Configure Docker
        run: gcloud auth configure-docker gcr.io,marketplace.gcr.io

      - name: Build and push images
        run: ./mvnw deploy -DskipTests -Dmvn.golang.skip=true -Dskip.npm -Ddocker.tag.version=main

  deploy:
    needs: publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: deploy

      - name: Update integration deployment configuration
        run: 'sed -i "s/git.commit: .*/git.commit: ${GITHUB_SHA}/" clusters/preprod/integration/helmrelease.yaml'

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Upgrade integration to main ${{ github.sha }}
