name: "REST API"

on:
  pull_request:
    branches: [ main, release/** ]
  push:
    branches: [ main, release/** ]
    tags: [ v* ]

defaults:
  run:
    working-directory: ./hedera-mirror-rest

env:
  MAVEN_CLI_OPTS: --batch-mode --no-transfer-progress
  MODULE: hedera-mirror-rest

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        schema: [ v1, v2 ]
    timeout-minutes: 15
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          key: ${{ runner.os }}-node-${{ hashFiles('./package-lock.json', './check-state-proof/package-lock.json', 'monitoring/monitor_apis/package-lock.json') }}
          path: |
            ~/.npm
            .node-flywaydb
          restore-keys: ${{ runner.os }}-node-

      - name: Test
        env:
          MIRROR_NODE_SCHEMA: ${{ matrix.schema}}
        run: ./mvnw ${MAVEN_CLI_OPTS} verify -pl "${MODULE}" --also-make
        working-directory: .

      - name: Rename artifact
        run: for file in *.tgz ; do mv $file ${file//$MODULE-/$MODULE-v} ; done

      - name: Upload coverage report
        if: always()
        run: node_modules/codecov/bin/codecov

      - name: Upload artifact
        if: startsWith(github.ref, 'refs/tags/v')
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.MODULE }}
          path: ./**/*.tgz
          if-no-files-found: error
